<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLDSV.Properties.Settings.QLDSV_Server" connectionString="Data Source=HHUMOROUS-PC\MSSQLSERVER1;Initial Catalog=QLDSV;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="QLDSV.Properties.Settings.QLDSV_View" connectionString="Data Source=HHUMOROUS-PC;Initial Catalog=QLDSV;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>